.container {
    display: grid;
    grid-template-columns: repeat(16, auto);
    grid-gap: 0px;
}

.container div {
    border-style: solid;
    border-width: 1px;
    color: rgb(0, 0, 0);
    background-color: white;
    aspect-ratio: 1;

}